
                  
   REQUIREMENTS   
                  


FUNCTIONAL (design)

Non-functional:
  - execution qualities: runtime
  - evolution qualities: development-time

NON-FUNCTIONAL (architecture) / quality attributes
Maintainability/extensibility
  (abstraction)
    (functional programming)
  (modularity)
    (object oriented)
    (reusability)
  (scalability)
Robustness/stability
  (compatibility)
  (quality)
    (testability)
    (reporting)
  (availability)
    (resilience)
  (recoverability)
    (backups)
  (configuration management)
  (fault tolerance)
  (reliability)
  (safety)
  (durability)
Performance
  (speed)
  (efficiency)
Flexibility
  (modifiability/customizability)
  (interactivity)
  (adaptability)
  (administratibility)
  (evolvability)
Usability
  (accessibility)
  (simplicity)
  (easiness)
  (learnability)
  (debuggability)
  (UX)
  (interoperability/portability)
  (interchangeability / switching cost)
  (deployability/installability)
Design
Security
Cost/price
Legality
  (compliance)
  (licensing)
Marketability
  (certification)
Environmental impact
Supportability
  (escrow)
Privacy
Transparency
  (accountability/inspectability)
